.contact {
  height: 100vh;

  display: grid;
  justify-items: center;
  align-content: center;

  grid-template-rows: 15vh auto;
  grid-template-areas:
    "header ."
    "contact contact";
}

.contact-top {
  grid-area: header;

  font-size: 4rem;
  color: var(--primary);
}
.contact-top h2 {

}

.contact-main {
  grid-area: contact;

  display: flex;
  justify-content: center;
}
form {
  background: var(--primary);
  width: 60vw;
  max-width: 80rem;

  display: flex;
  flex-direction: column;
}
form > * {
  margin: 0.5rem;

  display: flex;
  flex-direction: column;
}

input,
textarea {
  background: var(--secondary);
  border: 0.5rem double var(--primary);
  color: var(--accent);

  padding: 0.5rem;
}
input[type="submit"] {
  width: 30%;

  font-family: "Audiowide", Arial, Helvetica, sans-serif;
}

textarea {
  resize: none;
}
