.experience > * h2:not(.content-header) {
  width: 100vw;
  padding: 0.5rem 2rem;

  background: var(--primary);
  color: var(--secondary);

  cursor: pointer;
}

.experience {
  display: flex;
  flex-wrap: wrap;
}

.content-top {
  width: 60%;
  padding: 2rem;
  margin: 10vh 0 0 auto;

  display: flex;
  flex-direction: column;
}
.content-header {
  padding: 1.5rem 0;

  border-bottom: 0.25rem solid var(--primary);
  color: var(--primary);

  font-size: 4rem;
  text-align: right;
}
.content-desc {
  padding: 1rem 1rem;

  border-right: 0.25rem solid var(--primary);

  text-align: right;
}

.content-main {
  width: 100%;

  display: flex;
  flex-direction: column;
}

/* EDUCATION*/

.education {
  margin-top: 10rem;

  border-bottom: 1rem double var(--primary);
}
.education > *:not(h2) {
  padding: 2rem;
}
.collage p {
  padding-left: 1rem;

  font-size: 1.5rem;
  line-height: 2rem;
}
.collage span {
  margin: 1rem 0;

  border-bottom: 1px solid var(--primary);
  color: var(--primary);

  font-size: 1.2rem;
}
.collage h3 {
  margin: 1rem 0;

  border-bottom: 0.2rem solid var(--primary);

  font-size: 1.5rem;
}
.collage ul {
  list-style: circle;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 0.8fr));
}
.collage ul li {
  margin: 0.2rem;
}

/* JOBBS */
.jobbs {
  margin-top: 10vh;

  list-style: none;
}

.jobbsList {
  margin-right: 5vw;
}

.jobb {
  margin: 1rem;
  margin-left: auto;

  max-width: 80rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.jobb > *:not(h4) {
  display: none;
}
.jobb h4 {
  width: 20%;

  padding: 0.5rem;

  border: 0.5rem double var(--secondary);
  border-radius: 0;
  background: var(--primary);

  font-size: 1.3rem;

  cursor: pointer;
  transition: 0.2s ease;
}

.jobb-content {
  border: 0.5rem double var(--secondary);
  border-radius: 1rem;
  border-top-right-radius: 0;

  margin: 0 20% 0 5%;
  padding: 1rem;

  background: var(--primary);
  color: var(--secondary);
}
.jobb-content ul {
  padding: 2rem;
}
