

.gallery-item:nth-child(1) {
    background: url(./res/images/1.png);
}
.gallery-item:nth-child(2) {
    background: url(./res/images/2.png);
}
.gallery-item:nth-child(3) {
    background: url(./res/images/3.png);
}
.gallery-item:nth-child(4) {
    background:url(./res/images/4.png) ;
}
.gallery-item:nth-child(5) {
    background:url(./res/images/5.png) ;
}
.gallery-item:nth-child(6) {
    background:url(./res/images/6.jpg) ;
}
.gallery-item:nth-child(7) {
    background: url(./res/images/7.png);
}
.gallery-item:nth-child(8) {
    background: url(./res/images/8.png);
}
.gallery-item:nth-child(9) {
    background: url(./res/images/9.png);
}
.gallery-item:nth-child(10) {
    background: url(./res/images/10.png);
}
.gallery-item:nth-child(11) {
    background: url(./res/images/11.png);
}
.gallery-item:nth-child(12) {
    background: url(./res/images/12.png);
}
.gallery-item:nth-child(13) {
    background: url(./res/images/13.png);
}
.gallery-item:nth-child(14) {
    background: url(./res/images/14.png);
}
.gallery-item:nth-child(15) {
    background: url(./res/images/15.png);
}
.gallery-item:nth-child(16) {
    background: url(./res/images/16.png);
}
.gallery-item:nth-child(17) {
    background: url(./res/images/17.png);
}
.gallery-item:nth-child(18) {
    background: url(./res/images/18.png);
}
.gallery-item:nth-child(19) {
    background: url(./res/images/19.png);
}
.gallery-item:nth-child(20) {
    background: url(./res/images/20.png);
}
