.thumbnail:hover {
  border: 1rem double var(--secondary);
  background: var(--primary);
}
.thumbnail-active:hover {
  border: 0.1rem solid var(--primary);
}

.gallery-thumbnail:hover {
  background: var(--primary);
  border: 1rem double var(--secondary);
}

.gallery-grid > *:hover {
  border: 1rem solid var(--secondary);
}
.jobb h4:hover {
  border: .5rem double var(--primary);
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  
  background: var(--secondary);
}

