.me > * {
  width: 100vw;
}

.me-top {
  margin: auto;

  max-width: 80rem;

  display: grid;
  grid-template-areas:
    "header interests"
    "desc interests";
}
.me-top a {
  color: var(--accent);
}
.me-header {
  grid-area: header;

  color: var(--primary);

  font-size: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.me-header h2 {
  padding: 3rem;

  border-bottom: 0.2rem solid var(--primary);
}
.me-desc {
  grid-area: desc;

  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.me-desc > * {
  margin: 0.5rem;
  padding: 0.5rem;

  border-left: 0.5rem solid var(--primary);
  border-bottom: 0.2rem solid var(--primary);
}

.myLinks {
  width: 100%;

  border: none;

  display: flex;
  justify-content: space-evenly;
}
.myLinks a img{
  margin: .5rem;
  padding: .5rem;

  width: var(--standard);
  height: var(--standard);

  max-width: 10rem;
  max-height: 10rem;

  background: var(--primary);
  border: 1rem double var(--secondary);
}

.interests {
  grid-area: interests;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.interests > *:not(h3) {
  margin: 0.2rem 0;
  padding: 0.5rem;

  border-right: 2rem solid var(--primary);
  border-bottom: 0.2rem solid var(--primary);
}
.interests h3 {
  background: var(--primary);
  color: var(--secondary);

  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

/*-- programs i know*/

.me-main h2 {
  padding: 1rem;
  margin: 5rem 0;

  background: var(--primary);
  color: var(--accent);

  font-size: 2.5rem;
}
.me-main h3 {
  margin: 2rem;
  padding: 0.5rem;

  border-bottom: 0.2rem solid var(--primary);

  font-size: 2rem;
}

.prog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prog {
  margin: 1rem;

  max-width: 80rem;

  border: 0.1rem solid var(--primary);

  display: flex;
  justify-content: center;
}
.prog-logo {
  width: 8vw;
  min-width: 5rem;
}
.prog-logo::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.bar-holder {
  margin: 0.5rem;

  width: 70vw;
  
  border-left: 1rem solid var(--primary);

  display: flex;
  align-items: center;
}

.bar {
  margin: 0.5rem;

  background: var(--primary);
}
.bar p {
  padding: 0.2rem .5rem;

  text-align: right;
  font-size: 1rem;
}

/* languages */

.lang-list {
  margin-bottom: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.lang {
  margin: 1rem;

  display: flex;
  justify-content: center;
}

.lang h4 {
  padding: 0.5rem;
  
  width: 10vw;
  min-width: 10rem;
  
  border: 0.5rem solid var(--primary);

  text-align: center;
}
.progress {
  width: 60vw;

  display: flex;
  align-items: center;
}

/* bar percent*/

.percent-10 {
  width: 10%;
}
.percent-20 {
  width: 20%;
}
.percent-30 {
  width: 30%;
}
.percent-40 {
  width: 40%;
}
.percent-50 {
  width: 50%;
}
.percent-60 {
  width: 60%;
}
.percent-70 {
  width: 70%;
}
.percent-80 {
  width: 80%;
}
.percent-90 {
  width: 90%;
}
.percent-100 {
  width: 100%;
}

/* program logos*/

.ps {
  background: url(./res/Ps.svg);
  background-size: cover;
}
.il {
  background: url(./res/Il.svg);
}
.id {
  background: url(./res/Id.svg);
}
.ae {
  background: url(./res/Ae.svg);
}
.pr {
  background: url(./res/Pr.svg);
}
