.merits > * {
    /* border:1px solid red; */
}

.merits {
    padding: 2rem;
}
.merits h2 {
    border-bottom:.1rem solid var(--primary);
}
.merits p{
    text-align: right;

    padding-left: 20%;
}
.merits ul {
    border-top: 8rem solid var(--primary) ;
    padding-top: 3rem;
}