 /*__________*/
/*---MAIN---*/
/*__________*/

.hori-hr {
    display: none;
    z-index: -2;
  }
  
  .veri-hr {
    display: none;
  }

/* --- */
.thumbnail-wrapper {
  margin: 0rem auto 2rem;

  width: 100%;


  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.thumbnail{
  margin: 4rem;
}

.logo {
  position: absolute;
  width: 100%;
  
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  border: 0rem solid var(--primary);
  margin: auto;
  
  transform: rotate(0deg) translateY(0%);
  transform-origin:center;
}
h1:first-child {
  margin-top: 1rem;
  
}
h1::before,
h1::after {
  content: " - ";
}

.gall {
}

.gallery-wrapper {
  flex-direction: column;
}
.gallery-wrapper > * {
  margin: 2.5rem 0;
}
.right-title,
.left-title {
  padding: 0.5rem;
  
  background: var(--secondary);
  color: var(--primary);
}
.right-text,
.right-title,
.left-text,
.left-title {
  border-radius: 0;
  width:100vw;
}
.right-title, .left-title {
  text-align: center;
}
.right-text, .left-text {
  padding: 1rem;
  text-align: left;
}


/*________________*/
/*---EXPERIENCE---*/
/*________________*/

.experience > * {
  width: 90%;
  margin-left:0;
}

.experience {
  margin-top:25vh;
}
.content-header {

  font-size: 4rem;
  padding: 1.5rem 0;
  text-align: center;
}

.content-desc{
  border-right: .25rem solid var(--primary);
  padding: 1rem;
  margin-bottom: 5rem;
}
.jobb{
  margin-top: 0;
  list-style: none;
}

.jobb li {
  /* border: 1px solid white; */
  margin: 0;
  margin-left: 0;
  
  flex-direction: column;
  align-items: center;
}
h4{
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
  width: 40vw;
  
  padding: .5rem;
  margin-top: 1rem;
  background: var(--primary);
}

.jobb li p{
  display: none;
  
  border:1px solid var(--primary);
  
  text-align: left;
  padding: 1rem;
  margin-right: 0;
  margin-bottom: 1rem;
}

.jobbOpen {
  width: 100%;
  border-radius: 10rem 10rem 0 0;
}