.logo {
  position: absolute;
  width: 100%;

  text-align: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  border: 0rem solid var(--primary);
  margin: auto;

  transform: rotate(0deg) translateY(0%);
  transform-origin: center;
}

.logo-opacity {
  opacity: 0;
}

/*__________*/
/*---MAIN---*/
/*__________*/

main {
  height: 100vh;
}

.hori-hr {
  display: none;
  z-index: -2;
}

.veri-hr {
  display: none;
}

/* --- */
.thumbnail-wrapper {
  margin-top: -10vh;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thumbnail {
  margin: 2rem 0;
}
.thumbnail-active {
  transform: rotate(45deg) scale(.8);
}

h1:first-child {
  margin-top: 1rem;
}
h1::before,
h1::after {
  content: " - ";
}

/*________________*/
/*---EXPERIENCE---*/
/*________________*/

.experience > * {
  width: 90%;
  margin-left: 0;
}

.experience {
  margin-top: 60vh;
  width: 100vw;
}
.content-top {
  width: 100%;
  height: 40vh;
  padding: 0;
  margin: 0;
}
.content-main {
  width: 100%;
}
.education {
  margin-top: 2rem;
}
.content-header {
  margin-top: 0;
  padding: 1.5rem 0;

  font-size: 3rem;
  text-align: center;
}

.content-desc {
  border-right: 0;
  padding: 1rem;
  margin-bottom: 5rem;
}

.collage ul li {
  width: 70%;
  margin: 0.2rem;
}

.jobbsList {
  margin-right: 0;
}

.jobb {
  margin-top: 0;
  margin: 0;
  list-style: none;
}

.jobb li {
  margin: 0;
  margin-left: 0;

  flex-direction: column;
  align-items: center;
}
.jobb h4 {
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;

  padding: 0.5rem;
  margin-top: 1rem;
  background: var(--primary);
}

.jobb li p {
  display: none;

  border: 1px solid var(--primary);

  text-align: left;
  padding: 1rem;
  margin-right: 0;
  margin-bottom: 1rem;
}

.jobbOpen {
  width: 100%;
  border-radius: 10rem 10rem 0 0;
}

.jobb-content {
  margin: 0 0.2rem;
}
.thumbnail-logo {
  display: none;
}

/*   ME   */

.me-top > * {
  width: 100vw;
}

.me-top {
  justify-items: center;
  grid-template-areas:
    "header "
    "desc"
    "interests";
}
.me-top a {
  color: var(--accent);
}
.me-header {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.me-header h2 {
  border-bottom: 0;
}

.me-desc {
  margin-top: 60vh;

  padding: 0;

  align-items: center;
}
.me-desc > * {
  border: 0.2rem solid var(--primary);

  padding: 0.5rem 1rem;
}
.myLinks a img {
  margin: 0.5rem;
  padding: 0.5rem;

  width: 50vw;
  height: 50vw;

  max-width: 10rem;
  max-height: 10rem;
}
.interests {
  margin-top: 10vh;

  align-items: center;
}
.interests > *:not(h3) {
  border-right: 0rem solid var(--primary);

  margin: 0.5rem 0;
  padding: 0rem;
}

/* - - - - - - - */

.prog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.lang-list {
  display: block;
}

/* - - - - contact - - - - */

.contact {
  display: grid;
  justify-items: center;
  align-content: flex-start;

  grid-template-rows: 5vh auto;
  grid-template-areas:
    "header"
    "contact";
    background:var(--primary);
  }
  
  .contact-top {
    font-size: 1rem;
    
    margin: 1rem;
  }
  
  .contact-top h2 {
    font-size: 1rem;
    color: var(--secondary);
}

form {
  width: 90vw;
}
textarea {
  height: 50vh;
}
input[type="submit"] {
  width: 50%;
}


/* - - - - grid - - - - */
.gallery-grid {
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.gallery-thumbnail {
  transform: rotate(45deg) scale(.5);
}
.myLinks {
  border: none;
}
