/* -- fonts --

    font-family: 'Big Shoulders Text', cursive;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-family: 'Wallpoet', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Supermercado One', cursive;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Audiowide', cursive;

*/

:root {
  --standard: 15vw;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* border: 1px solid red; */
}
html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Audiowide", Arial, Helvetica, sans-serif;
}
body {
  font-size: 1.1rem;
  letter-spacing: 0.02rem;
  line-height: 1.3rem;

  overflow-x: hidden;

  background: var(--primary);
  color: var(--secondary);

  display: flex;
  flex-direction: column;
}

em {
  border-bottom: 1px solid var(--secondary);
  background: var(--secondary);
  color: var(--primary);
  padding: 0 0.5rem;
}

span {
  border-top: 1px solid var(--secondary);
}

/*-- HEADER CONTENT --*/

.logo {
  position: absolute;

  text-align: center;
  text-transform: uppercase;
  font-size: 0.7rem;

  border: 0.5rem solid var(--secondary);
  margin: 0.5rem;

  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
}
.logo h1 {
  padding: 0.2rem;
}

/*-- MAIN CONTENT --*/

main {
  overflow: hidden;

}

.thumbnail-wrapper {
  margin: 10rem auto 15rem;

  width: 75%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.article-wrapper {
}

hr {
  position: absolute;

  height: 0.5rem;
  background: var(--secondary);
  border: none;
}

.hori-hr {
  transform: rotate(0deg);
  z-index: -1;
  width: 70%;
}
.thumb-absolute {
  position: relative;

  width: var(--standard);
  height: var(--standard);

  max-width: 10rem;
  max-height: 10rem;

  min-width: 6rem;
  min-height: 6rem;
}


.thumbnail {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 100;

  border: 0rem solid var(--primary);
  background: var(--secondary);

  border-radius: 100%;
  transition: .25s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.thumbnail-logo {
  position: absolute;
  top: 0vh;
  
  width: 100%;
  
  text-align: center;
  opacity: 0;

  transition: .25s ease;
}

.thumbnail-logo-styled {
  top: -5vh;
  opacity: 1;
}

.thumbnail img {
  width: 130%;
  display: none;
  transform: rotate(-135deg);

  contain: content;
}

.thumbnail-active {
  border-radius: 0%;
  z-index: 120;

  /* background: var(--primary); */
  box-shadow: inset 0 0 0 .5rem var(--secondary);
  border: .1rem solid var(--primary);

  transform: rotate(135deg) scale(2);
}

.content {
  position: absolute;
  left: 0;
  top: 0;

  min-width: 100%;

  display: none;
  color: var(--accent);
  background: var(--secondary);
  z-index: 110;
}
