/* -- fonts --

    font-family: 'Big Shoulders Text', cursive;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-family: 'Wallpoet', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Supermercado One', cursive;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Audiowide', cursive;

*/

:root {
  --primary: #e1ad01;
  --secondary: #333;
  --standard: 15vw;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: "Audiowide", cursive;
}
body {
  /* height: 125vh; */

  font-size: 1.1rem;
  letter-spacing: 0.02rem;
  line-height: 1.3rem;

  background: var(--primary);
  color: var(--secondary);

  display: flex;
  flex-direction: column;
}

em {
  padding: 0 0.2rem;
  border: 1px solid var(--secondary);
}
/*-- HEADER CONTENT --*/

nav {
  display: flex;
  justify-content: space-evenly;

  margin: 0.5rem;
  opacity: 1;
}
nav div {
  width: 4rem;

  background: #3330;
}
.logo {
  width: 60%;
  text-align: center;
}
.logo h1 {
  text-transform: uppercase;

  border: 0.5rem solid #333;
  padding: 1rem;
}

/*-- MAIN CONTENT --*/

main {
  overflow: hidden;
}

.thumbnail-wrapper {
  margin: 10rem auto 15rem;

  width: 85%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-wrapper {
  background: #f55;
}

hr {
  position: absolute;

  height: 0.5rem;
  background: var(--secondary);
  border: none;
}

.hori-hr {
  transform: rotate(0deg);
  z-index: -1;
  width: 80%;
}

.veri-hr {
  position: absolute;
  margin: auto;

  height: 50rem;
  background: var(--secondary);
  width: 0.5rem;
}

.thumbnail {
  width: var(--standard);
  height: var(--standard);

  max-width: 14rem;
  max-height: 14rem;

  min-width: 6rem;
  min-height: 6rem;

  background: var(--secondary);

  border-radius: 100%;
  transition: 0.25s ease-in-out;
}

.thumbnail-active {
  border-radius: 0%;

  background: var(--primary);

  transform: rotate(135deg) scale(2);
}

.content {
  position: fixed;
  display: none;
  color: #fff;

  padding-top: 5rem;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background: #222;
}

.content > * {
  position: relative;
  padding: 1rem;
}

/* --- lower --- */

.gallery-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.gallery-wrapper > * {
  width: 50%;
    z-index: -1;
}

.gall {
  width: 100%;

  display: flex;
  justify-content: center;
  margin-bottom: -5rem;
}
.gall-thumbnail {
  box-sizing: content-box;

  width: calc(var(--standard) * 2);
  height: calc(var(--standard) * 2);

  background: #333;

  transform: rotate(45deg);
}

.right-title,
.left-title {
  padding: 0.5rem;
  background: var(--secondary);
  color: var(--primary);
}
.right-text,
.right-title {
  text-align: right;
}

.right-text,
.left-text {
  /* border:1px solid white; */

  overflow: hidden;
  padding: 1rem;
}
.right-text {
  border-radius: 25vw 0 0 0;
}
.left-text {
  border-radius: 0 25vw 0 0;
}

/*--- footer ---*/

/* footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #3338;
  padding: 0.5rem;
}

footer div {
  width: 90%;
  height: 5rem;
  background: #3338;
} */
